.c-container{
    justify-content: space-between;
    gap: 1rem;
}

.c-container>img{
    width: 9rem;
}

.c-wrapper{
    padding-left: 0%;
    padding-right: 0%;
    background: white;
}